nav{
	position: relative;
  right: -445px;
	margin: -850px auto 0;
	width: 470px;
	height: 50px;
	 background: #202a35;     /*#34495e; */
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
img {
	position: relative;
	margin: 35px auto 0;
	right: -96px;
}